@import '@core/scss/base/pages/app-invoice.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/base/bootstrap-extended/_include'; // Components includes
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/file-uploader.component';
@import '@core/scss/angular/libs/toastr.component.scss';

.more-options-dropdown {
  white-space: normal;
}
.card-text{
  top: -1.6rem !important;
}
.col-lg-12, .col-lg-6, .col-lg-3, .col-lg-4{
  margin-bottom: 35px !important;
  margin-top: 10px !important;
}
.input-group{
  width: 100% !important;
}
.form-group{
  width: 100% !important;
}
.sr7-card{
  padding: 0rem !important;
}


.sr7-logo{
  margin-top: 2rem !important;
  margin-left: 2rem !important;
}
.pr-0{
  margin-left: .5rem !important;
}
.sr7-alert{
  margin-left: 10px;
}
.sr7-ng{
  margin-bottom: 15px;
}
.sr7-w{
  width: 100%;
}
.sr7-upload-img{
  margin-bottom: 20px !important;
}
.sr7-dash-up{
  margin-top: 28px !important;
}
.sr7-row3-up{
  margin-top: 14px !important;
}
.sr7-text-up{
  padding-bottom: 0rem !important;
}
.sr7-dash-bot{
  margin-bottom: 15px !important;
}
.sr7-pm{
  margin-top: 15px;
}
.sr7-pm1{
  margin-top: 10px !important;
}
.sr7-pm1{
  margin-top: 25px;
  margin-right: 25px;
}
.sr7-mr{
  margin-top: 0.3rem !important;
}
.item .upload-btn {
  position: absolute;
  cursor: pointer;
  padding: 16px 9px;
  font-size: 17px;
  line-height: 30px;
  background: #fff;
  color: #7367f0;
  width: 100%;
  border: 1px dashed;
  height: 80px;
}
.img-sr{
  width: 482px;
  height: 78px;
}
.sr7-alert{
  margin-right: 50px;
}
.spinner-circle {
  border-top: 4px solid rgba(255, 255, 255, .2) !important;
  border-right: 4px solid rgba(255, 255, 255, .2) !important;
  border-bottom: 4px solid rgba(255, 255, 255, .2) !important;
  border-left: 4px solid #ffffff !important;
  height: 24px !important;
  width: 24px !important;
  margin: 0 2px !important;
  position: relative !important;
}

button svg {
  width: 20px !important;
  height: 20px !important;
  stroke-width: 4px !important;
}
