<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">
        <!-- Invoice List Header -->
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12">

          </div>
          <div
            class="
              col-md-8 col-lg-4 col-12
              d-flex
              align-items-center
              offset-lg-2
              sr7-d
            "
          >
          </div>
        </div>
        <!--/ Invoice List Header -->

        <!-- Invoice List Table -->
        <ngx-datatable
          [rows]="rowsProducts"
          [rowHeight]="100"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
          id="prodTable"
        >
          <ngx-datatable-column name="Product" prop="name" [width]="650">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div >
                  <img
                    class="rounded-circle mr-1"
                    src="{{ row.main_image }}"
                    height="50"
                    width="50"
                    alt="datatable-avatar"
                  />
                </div>

                <div class="cell-line-height">
                  <span class="font-weight-bold d-block text-nowrap font-medium-1">{{ name  | slice:0:90}}</span>
                  <span class="text-muted font-small-2">{{ row.subcategory.name }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Quantity" prop="qty" [width]="20">
            <ng-template let-all_qty="value"  ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ all_qty  }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="status" prop="stock_status" [width]="30">
            <ng-template let-stock_status="value"  ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ stock_status  }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a (click)="makeVendorOrder(row.id)" ngbDropdownItem>
                  <i data-feather="plus-circle" class="mr-1"></i>
                  Add To Vendors Cart
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!--/ Invoice List Table -->
      </div>
    </section>
    <!--/ Invoice List -->
  </div>
</div>

