<div class="row">
  <div class="col-12">
    <div class="card" style="border-radius: 8px">
      <div class="card-body">
        <div class="row">
          <div class="col-6 d-flex justify-content-start align-items-center">
            <span class="me-3">
              <h6 class="fw-semibold mb-0">All Ads</h6>
            </span>
            <label class="d-flex align-items-center mx-2">
              <ng-select [items]="Filters"
                         class="form-control m-0 p-0"
                         [clearable]="false"
                         bindLabel="name"
                         bindValue="id"
                         [(ngModel)]="selectedFilter">
              </ng-select>
            </label>
            <label class="d-flex align-items-center mx-2">
              <ng-select [items]="Groups"
                         class="form-control m-0 p-0"
                         [clearable]="false"
                         bindLabel="name"
                         bindValue="id"
                         [(ngModel)]="selectedGroup">
              </ng-select>
            </label>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <div class="mx-2 position-relative w-50">
              <i style="right: 6px; top: 8px; cursor: pointer" class="fs-3 bx bx-search position-absolute"></i>
              <input type="email" class="form-control" placeholder="Search">
            </div>
            <div class="mx-2">
              <button (click)="open(content, 0)" class="btn btn-primary mb-0">
                Add Ads
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 position-relative" *ngFor="let ad of allLookupsData">
        <div class="dropdown position-absolute" style="font-size: 20px; top: 5px; left: 25px; z-index: 1000"
             ngbDropdown placement="bottom-left">
          <a ngbDropdownToggle href="javascript:" data-toggle="dropdown">
            <i class="icon feather icon-more-horizontal text-secondary"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end p-0">
            <ul class="p-0 m-0">
              <li>
                <button class="dropdown-item" (click)="open(content, 1, ad.id)">
                  <i class="feather icon-edit"></i>
                  Edit
                </button>
                <button class="dropdown-item" (click)="open(content, 2, ad.id)">
                  <i class="feather icon-eye"></i>
                  Preview
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="delete(ad.id)">
                  <i class="feather icon-trash"></i>
                  Delete
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="card card-border-radius ">
          <div class="ads-cards-img">
            <img class="w-100 card-border-radius ads-cards"
                 src="{{domain+'LookUpsImages/'+ad.url}}" alt="">
          </div>
          <div class="py-3 px-2 text-start">
            <h6 class="fw-bold">{{ ad.headlin }}</h6>
            <p class="mb-0 p-cards">
              {{ad.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #FileInput>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Our Value</h4>
    <div class="d-flex">
      <img *ngIf="!isForm && modalStatus == 2" (click)="delete(valueId)"
           alt="" src="assets/icon/custom-icons/delete.png" class="mx-2 pointer">
      <img *ngIf="!isForm && modalStatus ==2" (click)="isForm =! isForm; modalStatus = 1"
           alt="" src="assets/icon/custom-icons/edit.png" class="mx-2 pointer">
    </div>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="addFrom" (submit)="submit()">
      <div class="col-12">
        <div class="" style="border-radius: 8px">
          <div class="">
            <h5 class="fw-semibold mb-3">Basic Info</h5>
            <div class="row px-2" style="{{isForm? '' : 'pointer-events: none'}}">
              <div class="col-6 mb-4">
                <label class="text-start mb-1 fw-semibold text-black">Headline in English</label>
                <input type="text" class="form-control" formControlName="HeadlinEr"
                       [ngClass]="{'is-invalid': (addFrom.get('HeadlinEr')?.dirty && addFrom.get('HeadlinEr')?.invalid && addFrom.get('HeadlinEr')?.touched) ||
                 (addFrom.get('HeadlinEr')?.invalid && addFrom.get('HeadlinEr')?.touched) , 'is-valid': isForm && addFrom.get('HeadlinEr')?.valid }">
              </div>
              <div class="col-6 mb-4">
                <label class="text-start mb-1 fw-semibold text-black">Headline in Arabic</label>
                <input type="text" class="form-control" formControlName="HeadlinAr"
                       [ngClass]="{'is-invalid': (addFrom.get('HeadlinAr')?.dirty && addFrom.get('HeadlinAr')?.invalid && addFrom.get('HeadlinAr')?.touched) ||
                 (addFrom.get('HeadlinAr')?.invalid && addFrom.get('HeadlinAr')?.touched) , 'is-valid': isForm && addFrom.get('HeadlinAr')?.valid }">
              </div>

              <div class="col-6 mb-4">
                <label class="text-start mb-1 fw-semibold text-black">Content in Arabic </label>
                <textarea rows="15" type="text" class="form-control" formControlName="ContentEn"
                          [ngClass]="{'is-invalid': (addFrom.get('ContentEn')?.dirty && addFrom.get('ContentEn')?.invalid && addFrom.get('ContentEn')?.touched) ||
                 (addFrom.get('ContentEn')?.invalid && addFrom.get('ContentEn')?.touched) , 'is-valid': isForm && addFrom.get('ContentEn')?.valid }">
                </textarea>
              </div>
              <div class="col-6 mb-4">
                <label class="text-start mb-1 fw-semibold text-black">Content in Arabic </label>
                <textarea rows="15" type="text" class="form-control" formControlName="Contentar"
                          [ngClass]="{'is-invalid': (addFrom.get('Contentar')?.dirty && addFrom.get('Contentar')?.invalid && addFrom.get('Contentar')?.touched) ||
                 (addFrom.get('Contentar')?.invalid && addFrom.get('Contentar')?.touched) , 'is-valid': isForm && addFrom.get('Contentar')?.valid }">
                </textarea>
              </div>
              <div class="col-12 mb-4 row">
                <div class="col-6 px-0">
                  <div class="position-relative" style="border-radius: 8px">
                    <div class="row">
                      <div class="col-12 d-flex justify-content-between">
                        <div class="d-flex align-items-center px-3" style="overflow: auto; white-space: nowrap;">
                          <h5 class="fw-semibold mb-3">Add Image</h5>
                        </div>
                        <div class="d-flex align-items-center" style="overflow: auto; white-space: nowrap;">
                          <div class="d-flex" style="overflow: auto; white-space: nowrap;">
                            <div class="mx-2 position-relative" style="border: 1px solid #eeee; border-radius: 4px"
                                 *ngIf="images.length > 0">
                              <i *ngIf="isForm" class="position-absolute bx bx-x-circle text-white"
                                 style="background: red; top: 1px; right: -4px; font-size: 1rem;
                              border-radius: 50% " (click)="removeImage()"
                              ></i>
                              <img class="p-2" width="100" height="100"  [src]="images[0].completePath">
                            </div>
                          </div>
                          <div class="d-flex" *ngIf="images.length == 0" (click)="FileInput.click()"
                               style="overflow: auto; white-space: nowrap;">
                            <div class="px-2">
                              <img width="100" height="100" src="/assets/icon/custom-icons/addImage.png" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="isForm">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" type="submit">Publish</button>
          <button class="btn btn-outline-primary" (click)="isForm =! isForm; modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>


