<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <form class="card" style="border-radius: 8px;" [formGroup]="loginForm" (submit)="submitLogin()">
      <div class="card-body text-center">
        <div class="mb-4">
          <img src="favicon.ico" alt="login-logo">
        </div>
        <h3 class="mb-4">
          Login
          <i class="feather icon-unlock auth-icon"></i>
        </h3>
        <div class="text-start mb-3">
          <label class="mb-1 text-black fw-semibold">Email Address</label>
          <input formControlName="email" type="email"
                 class="form-control" placeholder="example@example.com"
                 [ngClass]="{'is-invalid': (loginForm.get('email')?.dirty && loginForm.get('email')?.invalid && loginForm.get('email')?.touched) ||
                 (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) , 'is-valid': loginForm.get('email')?.valid }"/>
        </div>
        <div class="text-start mb-4">
          <label class="mb-1 text-black fw-semibold">Password</label>
          <input formControlName="password" type="password" class="form-control" placeholder="******"
                 [ngClass]="{'is-invalid': (loginForm.get('password')?.dirty && loginForm.get('password')?.invalid && loginForm.get('password')?.touched) ||
                 (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) , 'is-valid': loginForm.get('password')?.valid }"/>
        </div>

        <!--        <div class="form-group text-start mb-4">-->
        <!--          <div class="checkbox checkbox-fill d-inline">-->
        <!--            <input-->
        <!--              type="checkbox"-->
        <!--              name="checkbox-fill-1"-->
        <!--              id="checkbox-fill-a1"-->
        <!--              checked=""-->
        <!--            />-->
        <!--            <label for="checkbox-fill-a1" class="cr"> Save Details</label>-->
        <!--          </div>-->
        <!--        </div>-->
        <button class="btn btn-primary my-4" type="submit">Login</button>
        <!--        <p class="mb-2 text-muted">-->
        <!--          Forgot password? <a [routerLink]="['/auth/reset-password']">Reset</a>-->
        <!--        </p>-->
        <!--        <p class="mb-0 text-muted">-->
        <!--          Don’t have an account? <a [routerLink]="['/auth/signup']">Sign up</a>-->
        <!--        </p>-->
      </div>
    </form>
  </div>
</div>
