@import '@core/scss/base/pages/dashboard-ecommerce.scss';
@import '@core/scss/base/plugins/charts/chart-apex.scss';
@import '@core/scss/angular/libs/toastr.component.scss';
@import '@core/scss/base/pages/app-invoice.scss';
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/bootstrap-extended/_include';

// Earning Chart Tooltip
#earnings-donut-chart {
  .apexcharts-tooltip {
    &.apexcharts-theme-dark {
      background: rgba($black, 0.8) !important;
    }
  }
}
.sr7-3{
  padding-right:0rem !important;
}
.sr7-2{
  max-width: 100% !important;
}
.sr7-1{
  width: 276px !important;
  //border: 1px solid rgb(94, 80, 238);
  border-radius: 3px;
}
.sr7-card{
  padding: 0px 25px ;
}
.sr7-d{
  margin-right: 10px !important;
  justify-content: end;
}
.sr7-t-title{
  margin-left: 20px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  align-items: center;
}
.sr7-card{
  padding: 0rem !important;
}


.sr7-logo{
  margin-top: 2rem !important;
  margin-left: 2rem !important;
}
.pr-0{
  margin-left: .5rem !important;
}
.sr7-alert{
  margin-left: 10px;
}
.sr7-ng{
  margin-bottom: 15px;
}
.sr7-w{
  width: 100%;
}
.sr7-upload-img{
  margin-bottom: 20px !important;
}
.sr7-pm{
  margin-top: 15px;
}
.sr7-space{
  margin-right: 8px;
}
.sr7-p0{
  padding-left: 5px !important;
  padding-right: 5px !important;

}
.sr7-h{
  text-align: center;
}
.sr7-mb{
  margin-top: 3.9rem !important;
}
.sr7-det{
  margin-top: 48px;

}
