<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Invoice List -->
        <section class="invoice-list-wrapper">
            <div class="card">
                <div class="col-sm-12">
                    <h1 class="card-title mt-3 ml-3 font-weight-bold font-medium-5">Member Request Information</h1>
                    <div class="card-body">
                        <div class="media row">
                            <div class="col-3">
                                <img
                                        *ngIf="!requestsData.image"
                                        src="assets/images/portrait/small/user-anonymous.png"
                                        class="mr-1"
                                        alt="img placeholder"
                                        height="300"
                                        width="215"
                                />
                                <img
                                        *ngIf="requestsData.image"
                                        src="{{requestsData.image}}"
                                        class="mr-1 rounded"
                                        alt="img placeholder"
                                        height="350"
                                        width="250"
                                        (click)="open(content, requestsData.image)"
                                />
                            </div>
                            <div class="media-body mt-2 col-4">
                                <h3 class="mt-4 font-weight-bolder">Personal informaion:</h3>
                                <div class="d-flex">
                                    <div>
                                        <h4 class="ml-1" *ngIf="requestsData.first_name">*First Name:</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.last_name">*Last Name:</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.name">*Full Name:</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.email">*Email:</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.address">*Address:</h4>
                                    </div>
                                    <div>
                                        <h4 class="ml-1" *ngIf="requestsData.first_name">{{requestsData.first_name}}</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.last_name">{{requestsData.last_name}}</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.name">{{requestsData.name}}</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.email">{{requestsData.email}}</h4>
                                        <h4 class="ml-1" *ngIf="requestsData.address">
                                            <span *ngFor="let i of requestsData.address">
                                                {{i}}
                                            </span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="address-inf">
                            <div class="media-body ">
                                <h3 class="mt-3 font-weight-bolder">Addresses Info:</h3>
                                <div class="row">
                                    <div class="col-6" *ngFor="let address of requestsData.addresses |keyvalue">
                                        <h3 class=" font-weight-bolder">*Address {{+address.key +1}} )</h3>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">Address:</h4>
                                            <h4 class="ml-1">{{address.value.address}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">Email:</h4>
                                            <h4 class="ml-1">{{address.value.email}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">Phone :</h4>
                                            <h4 class="ml-1">{{address.value.phone}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">Name :</h4>
                                            <h4 class="ml-1">{{address.value.first_name}} {{address.value.last_name}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">Postal Code :</h4>
                                            <h4 class="ml-1">{{address.value.postal_code}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">City :</h4>
                                            <h4 class="ml-1">{{address.value.city}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">Country :</h4>
                                            <h4 class="ml-1">{{address.value.country}}</h4>
                                        </div>
                                        <div class="d-flex">
                                            <h4 class="ml-1" style="width: 90px">State :</h4>
                                            <h4 class="ml-1">{{address.value.state}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!--/ Invoice List -->
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">New Category</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <img src="{{requestImg}}" width="461">
    </div>

</ng-template>


