@import '@core/scss/base/pages/app-invoice.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/bootstrap-extended/_include'; // Components includes
.more-options-dropdown {
  white-space: normal;
}
.sr7-head2{
margin-top: 10px;
}
.sr7-head{
height: 110px;
}
.sr7-preview{
  margin-top: 0.62rem !important;
  margin-buttom: -0.1rem !important;
}
.sr7-button{
  margin-top: 0rem;
  margin-left: 2rem;
}
.sr7-print{
  margin-left: 2rem;
}

.sr7-btn{
  display: flex;
  margin-left: 2.5rem;
}
.sr7-ng{
  margin: 0rem !important;
  padding: 0rem !important;
}
.sr7-img{
  margin-left: 10px;
}
.sr7-flex{
  display: flex;
}
.sr7-date{
  max-width: 100% !important;
}
.sr7-ng{
border: 0px;
}
