@import '@core/scss/base/pages/dashboard-ecommerce.scss';
@import '@core/scss/base/plugins/charts/chart-apex.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

// Earning Chart Tooltip
#earnings-donut-chart {
  .apexcharts-tooltip {
    &.apexcharts-theme-dark {
      background: rgba($black, 0.8) !important;
    }
  }
}
.sr7-3{
  padding-right:0rem !important;
}
.sr7-2{
  max-width: 100% !important;
}
.sr7-1{
  width: 400px !important;
  //border: 1px solid rgb(94, 80, 238);
  border-radius: 3px;
}
