@import '@core/scss/base/pages/app-invoice.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/base/bootstrap-extended/_include'; // Components includes
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.more-options-dropdown {
  white-space: normal;
}
.card-text{
  top: -1.6rem !important;
}
.col-lg-12, .col-lg-6, .col-lg-3, .col-lg-4{
  margin-bottom: 35px !important;
  margin-top: 10px !important;
}
.input-group{
  width: 100% !important;
}
.form-group{
  width: 100% !important;
}
.sr7-card{
  padding: 0rem !important;
}


.sr7-logo{
  margin-top: 2rem !important;
  margin-left: 2rem !important;
}
.pr-0{
  margin-left: .5rem !important;
}
.sr7-alert{
  margin-left: 10px;
}
.sr7-ng{
  margin-bottom: 15px;
}
.sr7-w{
  width: 100%;
}
.sr7-upload-img{
  margin-bottom: 20px !important;
}
.sr7-pm{
  margin-top: 15px;
}
.sr7-space{
  margin-right: 8px;
}
.sr7-p0{
  padding-left: 5px !important;
  padding-right: 5px !important;

}
.sr7-h{
  text-align: center;
}
.sr7-mb{
  margin-top: 3.9rem !important;
}
