<div class="content-wrapper container-xxl p-0">
  <div class="content-body d-flex">
      <section class="col-9 invoice-list-wrapper">
          <div class="card row ">
              <div class="d-flex">
                  <div class="col-5">
                      <div class="col-md-12 col-12 form-group">
                          <p class="card-text col-title mb-md-50 mt-md-1">
                              Filter by Customer Phone</p>
                          <ng-select placeholder="Select Customer Phone"
                                     class="sr7-ng searchable_select"
                                     (change)="setData($event)"
                                     [items]="customers"
                                     bindLabel="phone"
                                     bindValue="id"
                          >
                              <ng-template
                                      ng-option-tmp
                                      ng-label-tmp
                                      id="user1"
                                      let-item="item"
                              >
                                  {{ item.phone }}
                              </ng-template>
                          </ng-select>
                      </div>
                      <div class="col-md-12 col-12 form-group">
                          <p class="card-text col-title mb-md-50">
                              Filter by Shop Name</p>
                          <ng-select placeholder="Select Shope Name"
                                     class="sr7-ng searchable_select"
                                     (change)="setData($event)"
                                     [items]="customers"
                                     bindLabel="name"
                                     bindValue="id"
                          >
                              <ng-template
                                      ng-option-tmp
                                      ng-label-tmp
                                      id="user2"
                                      let-item="item"
                              >
                                  {{ item.name }}
                              </ng-template>
                          </ng-select>
                      </div>
                      <div class="col-md-12 col-12 form-group">
                          <p class="card-text col-title mb-md-50">
                              Filter by Customer name</p>
                          <ng-select placeholder="Select Customer Name"
                                     class="sr7-ng searchable_select"
                                     (change)="setData($event)"
                                     [items]="customers"
                                     bindLabel="user_name"
                                     bindValue="id"
                          >
                              <ng-template
                                      ng-option-tmp
                                      ng-label-tmp
                                      id="user3"
                                      let-item="item"
                              >
                                  {{ item.user_name }}
                              </ng-template>
                          </ng-select>
                      </div>
                      <div class="col-md-12 col-12 form-group">
                          <p class="card-text col-title mb-md-50">
                              Filter by Customer Email</p>
                          <ng-select placeholder="Select Customer Email"
                                     class="sr7-ng searchable_select"
                                     (change)="setData($event)"
                                     [items]="customers"
                                     bindLabel="email"
                                     bindValue="id"
                          >
                              <ng-template
                                      ng-option-tmp
                                      ng-label-tmp
                                      id="user4"
                                      let-item="item"
                              >
                                  {{ item.email }}
                              </ng-template>
                          </ng-select>
                      </div>
                  </div>
                  <div class="col-7 card-body sr7-p0">
                      <h1 class="price-title font-weight-bolder sr7-h">Customer Information</h1>
                      <ul class="list-unstyled">
                          <li class="price-detail d-flex font-weight-bolder font-medium-2 mb-md-2">
                              <div class="detail-title">Customer Name</div>
                              <div class="sr7-space">:</div>
                              <div class="detail-amt" *ngIf="showEachCustomer?.user_name"> {{ showEachCustomer.user_name}}</div>
                          </li>
                          <li class="price-detail d-flex font-weight-bolder font-medium-2 mb-md-2">
                              <div class="detail-title">Shop Name</div>
                              <div class="sr7-space">:</div>
                              <div class="detail-amt" *ngIf="showEachCustomer?.name"> {{ showEachCustomer.name}}</div>
                          </li>
                          <li class="price-detail d-flex font-weight-bolder font-medium-2 mb-md-2">
                              <div class="detail-title">Customer Email</div>
                              <div class="sr7-space">:</div>
                              <div class="detail-amt" *ngIf="showEachCustomer?.email"> {{ showEachCustomer.email}}</div>
                          </li>
                          <li class="price-detail d-flex font-weight-bolder font-medium-2 mb-md-2">
                              <div class="detail-title">Customer Phone</div>
                              <div class="sr7-space">:</div>
                              <div class="detail-amt" *ngIf="showEachCustomer?.phone"> {{ showEachCustomer.phone}}</div>
                          </li>
                          <li class="price-detail d-flex font-weight-bolder font-medium-2 mb-md-2">
                              <div class="detail-title">Customer Address</div>
                              <div class="sr7-space">:</div>
                              <div class="detail-amt" *ngIf="showEachCustomer?.address"> {{ showEachCustomer.address}}</div>
                          </li>
                          <li class="price-detail d-flex font-weight-bolder font-medium-2 mb-md-2">
                              <div class="detail-title">Postal Code</div>
                              <div class="sr7-space">:</div>
                              <div class="detail-amt" *ngIf="showEachCustomer?.postal_code"> {{ showEachCustomer.postal_code}}</div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <section class="col-3 invoice-list-wrapper">
          <div class="checkout-options">
              <div class="card">
                  <div class="card-body">
                      <div class="price-details">
                          <h2 class="price-title font-weight-bolder">Checkout Details</h2>
                          <ul class="list-unstyled">
                              <!--              <li class="price-detail">-->
                              <!--                <div class="detail-title">Discount</div>-->
                              <!--                <div class="detail-amt">${{check.discount}}</div>-->
                              <!--              </li>-->
                              <li class="price-detail d-flex font-weight-bold font-medium-3 mb-md-1">
                                  <div class="detail-title">Coupon Discount</div>
                                  <div class="sr7-space">:</div>
                                  <div class="detail-amt discount-amt text-success" *ngIf="checkout">-{{ checkout.discount}}$</div>
                              </li>
                              <li class="price-detail d-flex font-weight-bold font-medium-3 mb-md-1">
                                  <div class="detail-title">Bag Discount</div>
                                  <div class="sr7-space">:</div>
                                  <div class="detail-amt discount-amt text-success" *ngIf="checkout">-{{ checkout.bag_discount}}$</div>
                              </li>
                              <li class="price-detail d-flex font-weight-bold font-medium-3 mb-md-1">
                                  <div class="detail-title">Estimated Tax</div>
                                  <div class="sr7-space">:</div>
                                  <div class="detail-amt" *ngIf="checkout"> ${{ checkout.tax}}</div>
                              </li>
                              <li class="price-detail d-flex font-weight-bold font-medium-3 mb-md-1">
                                  <div class="detail-title" >Delivery Charges</div>
                                  <div class="sr7-space">:</div>
                                  <div class="detail-amt text-danger" *ngIf="checkout"> ${{ checkout.charge}}</div>
                              </li>
                              <li class="price-detail d-flex font-weight-bold font-medium-3 mb-md-1">
                                  <div class="detail-title">Sub-total</div>
                                  <div class="sr7-space">:</div>
                                  <div class="detail-amt" *ngIf="checkout"> ${{ checkout.subtotal}}</div>
                              </li>

                          </ul>
                          <hr/>
                          <ul class="list-unstyled">
                              <li class="price-detail d-flex font-weight-bold font-medium-3 ">
                                  <div class="detail-title detail-total">Total price</div>
                                  <div class="sr7-space">:</div>
                                  <div class="detail-amt " *ngIf="checkout">${{ checkout.total}}</div>
                              </li>
                          </ul>
                      </div>
                      <div class="sr7-mb">
                          <button type="button" class="btn btn-light mt-1 remove-wishlist btn-gradient-success col-12 font-weight-bolder font-small-4"
                                  (click)="placeOrder()" rippleEffect>
                              <i data-feather="check" class="align-middle mr-25"></i>
                              <span>Place Order</span>
                          </button>
                      </div>
                  </div>
              </div>
              <!-- Checkout Place Order Right ends -->
          </div>
      </section>
  </div>
</div>
