.virtical-menue-img{
  max-width: 65px !important;
  height: auto;
  width: 184px;

}
.main-menu .navbar-header {
  height: 5rem !important;

}
.nav-toggle {
  position: absolute;
  right: 0px;
  top: 23%;}
.sr7-title{
  padding-left: 0rem !important;
  color: #070707 !important;
  font-family: unset !important;
  font-size: x-large !important;
}
.sr7-nav{
  margin-top: 1.5rem !important;
}
.sr7-main{
  margin-top: 0rem !important;
}
