<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Invoice List -->
        <section class="app-ecommerce-details">
            <div class="card">
                <!-- Product Details starts -->
                <div class="card-body">
                    <div class="">
                        <span class="sr7"></span>
                        <span class="sr7">
                            <img src="favicon.ico" height="60px" width="60px">
                            <h1 class="font-large-1 font-weight-bolder sr7-header"> PRODUCTS CATEGORIES</h1>
                        </span>
                    </div>
                    <hr>
                    <div class="row my-2 ">
                        <div class="col-md-6 col-xl-4 border-sr7 sr7-card-pointer" *ngFor="let item of categories">
                            <div class="col-12 sr7-title" routerLink="/apps/invoice/all-products/{{ item.id }}">
                                <h2 class="font-weight-bolder text-sr7 mt-1">{{ item.name }}</h2>
                                <h3 class="text-sr7 primary-gradient item-company mr-1">
                                    {{ item.description|slice:0:50 }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Invoice List -->
    </div>

</div>

