<div class="row">
  <div class="col-12">
    <div class="card" style="border-radius: 8px">
      <div class="card-body">
        <div class="row">
          <div class="col-6 d-flex justify-content-start align-items-center">
            <span class="me-2">
              <h6 class="fw-semibold">All Ads</h6>
            </span>
            <label class="d-flex align-items-center"
            >
              <select class="form-control mx-2" [(ngModel)]="selectedOptionSort">
                <option value="Sorted By">Sorted By</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
            <label class="d-flex align-items-center"
            >
              <select class="form-control mx-2" [(ngModel)]="selectedOption">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <div class="mx-2 position-relative">
              <i style="right: 6px; top: 8px; cursor: pointer" class="fs-3 bx bx-search position-absolute"></i>
              <input type="email" class="form-control">
            </div>
            <div class="mx-2">
              <button class="btn btn-primary mb-0">
                Add Ads
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3" *ngFor="let card of cards">
        <div class="card card-border-radius">
          <div class="ads-cards-img">
            <img class="w-100 card-border-radius ads-cards"
                 src="{{card.image}}" alt="">
          </div>
          <div class="py-3 px-2">
            <div class="d-flex justify-content-between align-items-center">
              <span>
                <h6 class="fw-semibold">{{card.title}}</h6>
              </span>
              <span class="card-border-radius p-2"
              style="background: rgba(128, 128, 143, 0.2); "
              >
                Hidden
              </span>
            </div>
          </div>
          <div class="pb-3 px-2">
            <div class="d-flex justify-content-between align-items-center">
              <span>
                End Date : {{card.date1}}
              </span>
              <span class="">
                Creation Date : {{card.date1}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
