.card .card-block, .card .card-body {
  padding: 15px 15px !important;
  border-radius: 8px!important;
}
.ads-cards{
  height: 310px;
}
.ads-cards-img{
  min-height: 310px;
}
:host ::ng-deep.ng-select.ng-select-single .ng-select-container
.ng-value-container, .ng-select.ng-select-single
.ng-select-container .ng-value-container .ng-value {
  font-weight: 600!important;
}
:host ::ng-deep.custom-select, .form-control {
  border-radius: 8px;
  background: none;
  padding: 10px 20px;
  font-size: 14px;
}
::placeholder {
  font-weight: 600;
  color: #000000;
}
tr th {
  border-top: none
}

.custom-filter {
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  background: var(--text-0, #FFF);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
}
