<div class="card" style="border-radius: 8px">
  <div class="card-body">
    <div class="row">
      <div class="col-6 d-flex justify-content-start align-items-center">
            <span class="me-3">
              <h6 class="fw-semibold mb-0">All Categories</h6>
            </span>
        <label class="d-flex align-items-center mx-2"
        >
          <ng-select [items]="Filters"
                     [clearable]="false"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="selectedFilter">
          </ng-select>
        </label>
        <label class="d-flex align-items-center mx-2"
        >
          <ng-select [items]="Groups"
                     [clearable]="false"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="selectedGroup">
          </ng-select>
        </label>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="mx-2 position-relative w-50">
          <i style="right: 6px; top: 8px; cursor: pointer" class="fs-3 bx bx-search position-absolute"></i>
          <input type="email" class="form-control" placeholder="Search">
        </div>
        <div class="mx-2">
          <button routerLink="add" class="btn btn-primary mb-0">
            Add Categories
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-md-12">
    <!--    <app-card cardTitle="Users From United States">-->
    <app-card
      [hidHeader]="true"
      cardTitle="Recent Orders"
      cardClass="Recent-Orders"
      blockClass="px-0 py-3"
    >
      <div class="mx-4">
        <ngx-datatable
          [rows]="rowsUsers"
          [rowHeight]="70"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
          [selected]="selected"
        >
          <ngx-datatable-column [sortable]="false" name="ID" prop="id" [width]="50">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" name="PRODUCTS" prop="product" [width]="50">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" name="DATE" prop="date" [width]="20">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" name="PAYMENT" prop="payment" [width]="20">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" name="AMOUNT" prop="amount" [width]="20">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  name="STATUS" prop="status" [width]="20">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i }}</span>
            </ng-template>
          </ngx-datatable-column>

          <!--        <ngx-datatable-column class="hide-print" name="Table" [width]="40" [sortable]="false">-->
          <!--          <ng-template ngx-datatable-cell-template let-row="row">-->
          <!--            <div class="d-flex align-items-center col-actions">-->
          <!--              <div ngbDropdown container="body">-->
          <!--                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0"-->
          <!--                        rippleEffect>-->
          <!--                  <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>-->
          <!--                </button>-->
          <!--                <div ngbDropdownMenu>-->
          <!--                  <a routerLink="/apps/invoice/edit-activities/{{ row.slug }}"  ngbDropdownItem>-->
          <!--                    <i data-feather="edit" class="mr-1"></i>-->
          <!--                    Edit-->
          <!--                  </a>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </ng-template>-->
          <!--        </ngx-datatable-column>-->

          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
            >
              <label class="d-flex align-items-center"
              >Show
                <select class="form-control mx-2" [(ngModel)]="selectedOption">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
              <div style="padding: 5px 10px">
                <div>
                  Rows: {{ rowCount }} | Size: {{ pageSize }} | Current:
                  {{ curPage }}
                </div>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </app-card>
  </div>
</div>
