<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div >
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs sr7-tabs">
          <li [ngbNavItem]="1">
              <a class="
                        text-center
                        colors-container
                        bg-gradient-secondary
                        rounded text-white
                        width-200 height-50
                        d-flex align-items-center
                        justify-content-center
                        mr-1 ml-50 my-1 shadow
                        "
                        ngbNavLink
              >Waiting Orders list</a>
              <ng-template ngbNavContent>
                  <section class="invoice-list-wrapper card">
                          <div class="row">
                              <div class="col-lg-6 sr7-marg">
                                  <div class="d-flex justify-content-between align-items-center m-1">
                                      <div class="d-flex align-items-center">
                                          <label class="d-flex align-items-center"
                                          >Show
                                              <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                                  <option value="10">10</option>
                                                  <option value="25">25</option>
                                                  <option value="50">50</option>
                                                  <option value="100">100</option>
                                              </select>
                                          </label>
                                          <!--                              <button class="btn btn-primary ml-2" routerLink="/dashboard/order-addition" rippleEffect>-->
                                          <!--                                  Make Order-->
                                          <!--                              </button>-->
                                      </div>
                                  </div>
                              </div>
                              <div
                                      class="
                          col-lg-4
                          d-flex
                          align-items-center
                          offset-lg-2
                          sr7-d
                          sr7-marg
                        "
                              >
                                  <div class="d-flex pr-1 pb-1 pb-md-0 align-items-center w-100 sr7-3">
                                      <div class="col-5 pr-0 sr7-2">
                                          <label class="d-flex align-items-center mb-0 ml-1 ml-md-0 sr7-w"
                                          ><input
                                                  [(ngModel)]="searchValue"
                                                  name="searchValue"
                                                  type="search"
                                                  class="form-control"
                                                  placeholder="Search..."
                                                  (keyup)="filterUpdate($event)"
                                                  (search)="filterUpdate($event)"
                                          /></label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <section id="card-style-variation1">
                              <ngx-datatable
                                      [rows]="placedOrders"
                                      [rowHeight]="50"
                                      class="bootstrap core-bootstrap"
                                      [limit]="selectedOption"
                                      [columnMode]="ColumnMode.force"
                                      [headerHeight]="50"
                                      [footerHeight]="50"
                                      [scrollbarH]="true"
                              >
                                  <ngx-datatable-column name="Customer Name" prop="shipping" [width]="100">
                                      <ng-template let-i="value" ngx-datatable-cell-template>
                                          <span class="font-medium-1 font-weight-bolder">{{ i.first_name }} {{ i.last_name }}</span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column name="Sub-Total" prop="subtotal" [width]="5">
                                      <ng-template let-subtotal="value" ngx-datatable-cell-template>
                                          <span>${{ subtotal }}</span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column name="Total" prop="total" [width]="5">
                                      <ng-template let-total="value" ngx-datatable-cell-template>
                                          <span>${{ total }}</span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column name="Invoice" prop="invoice" [width]="5">
                                      <ng-template let-invoice="value" ngx-datatable-cell-template>
                                          <span>{{ invoice }}</span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column name="Actions" [width]="20" [sortable]="false">
                                      <ng-template ngx-datatable-cell-template let-row="row">
                                          <div class="d-flex align-items-center col-actions">
                                              <div ngbDropdown container="body">
                                                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                      <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                                  </button>
                                                  <div ngbDropdownMenu>
                                                      <a  routerLink="/apps/invoice/preview-website-order/{{ row.id }}" ngbDropdownItem>
                                                          <i data-feather="eye" class="mr-1"></i>
                                                          Show Details
                                                      </a>
                                                      <a  (click)="open(content, row)" ngbDropdownItem>
                                                          <i data-feather="edit" class="mr-1"></i>
                                                          Change Status
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </ng-template>
                                  </ngx-datatable-column>
                              </ngx-datatable>
                          </section>
                  </section>
              </ng-template>
          </li>
          <li [ngbNavItem]="2">
              <a class="text-center
                        colors-container
                        bg-gradient-warning
                        rounded text-white
                        width-200 height-50
                        d-flex align-items-center
                        justify-content-center
                        mr-1 ml-50 my-1 shadow"
                 ngbNavLink
              >Preparing Orders list</a>
              <ng-template ngbNavContent>
                  <section class="invoice-list-wrapper card">
                      <div class="row">
                          <div class="col-lg-6 sr7-marg">
                              <div class="d-flex justify-content-between align-items-center m-1">
                                  <div class="d-flex align-items-center">
                                      <label class="d-flex align-items-center"
                                      >Show
                                          <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                              <option value="10">10</option>
                                              <option value="25">25</option>
                                              <option value="50">50</option>
                                              <option value="100">100</option>
                                          </select>
                                      </label>
                                      <!--                              <button class="btn btn-primary ml-2" routerLink="/dashboard/order-addition" rippleEffect>-->
                                      <!--                                  Make Order-->
                                      <!--                              </button>-->
                                  </div>
                              </div>
                          </div>
                          <div
                                  class="
                          col-lg-4
                          d-flex
                          align-items-center
                          offset-lg-2
                          sr7-d
                          sr7-marg
                        "
                          >
                              <div class="d-flex pr-1 pb-1 pb-md-0 align-items-center w-100 sr7-3">
                                  <div class="col-5 pr-0 sr7-2">
                                      <label class="d-flex align-items-center mb-0 ml-1 ml-md-0 sr7-w"
                                      ><input
                                              [(ngModel)]="searchValue"
                                              name="searchValue"
                                              type="search"
                                              class="form-control"
                                              placeholder="Search..."
                                              (keyup)="filterUpdate($event)"
                                              (search)="filterUpdate($event)"
                                      /></label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <section id="card-style-variation2">
                          <ngx-datatable
                                  [rows]="preparingOrders"
                                  [rowHeight]="50"
                                  class="bootstrap core-bootstrap"
                                  [limit]="selectedOption"
                                  [columnMode]="ColumnMode.force"
                                  [headerHeight]="50"
                                  [footerHeight]="50"
                                  [scrollbarH]="true"
                          >
                              <ngx-datatable-column name="Customer Name" prop="shipping" [width]="100">
                                  <ng-template let-i="value" ngx-datatable-cell-template>
                                      <span class="font-medium-1 font-weight-bolder">{{ i.first_name }} {{ i.last_name }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Sub-Total" prop="subtotal" [width]="5">
                                  <ng-template let-subtotal="value" ngx-datatable-cell-template>
                                      <span>${{ subtotal }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Total" prop="total" [width]="5">
                                  <ng-template let-total="value" ngx-datatable-cell-template>
                                      <span>${{ total }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Invoice" prop="invoice" [width]="5">
                                  <ng-template let-invoice="value" ngx-datatable-cell-template>
                                      <span>{{ invoice }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Actions" [width]="20" [sortable]="false">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                      <div class="d-flex align-items-center col-actions">
                                          <div ngbDropdown container="body">
                                              <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                  <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                              </button>
                                              <div ngbDropdownMenu>
                                                  <a  routerLink="/apps/invoice/preview-website-order/{{ row.id }}" ngbDropdownItem>
                                                      <i data-feather="eye" class="mr-1"></i>
                                                      Show Details
                                                  </a>
                                                  <a  (click)="open(content, row)" ngbDropdownItem>
                                                      <i data-feather="edit" class="mr-1"></i>
                                                      Change Status
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </ng-template>
                              </ngx-datatable-column>

                          </ngx-datatable>
                      </section>
                  </section>
              </ng-template>
          </li>
          <li [ngbNavItem]="3">
              <a class="
              text-center
              colors-container
              bg-gradient-info
              rounded text-white
              width-200 height-50
              d-flex align-items-center
              justify-content-center
              mr-1 ml-50 my-1 shadow" ngbNavLink
              >On the Way Orders list</a>
              <ng-template ngbNavContent>
                  <section class="invoice-list-wrapper card">
                      <div class="row">
                          <div class="col-lg-6 sr7-marg">
                              <div class="d-flex justify-content-between align-items-center m-1">
                                  <div class="d-flex align-items-center">
                                      <label class="d-flex align-items-center"
                                      >Show
                                          <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                              <option value="10">10</option>
                                              <option value="25">25</option>
                                              <option value="50">50</option>
                                              <option value="100">100</option>
                                          </select>
                                      </label>
                                      <!--                              <button class="btn btn-primary ml-2" routerLink="/dashboard/order-addition" rippleEffect>-->
                                      <!--                                  Make Order-->
                                      <!--                              </button>-->
                                  </div>
                              </div>
                          </div>
                          <div
                                  class="
                          col-lg-4
                          d-flex
                          align-items-center
                          offset-lg-2
                          sr7-d
                          sr7-marg
                        "
                          >
                              <div class="d-flex pr-1 pb-1 pb-md-0 align-items-center w-100 sr7-3">
                                  <div class="col-5 pr-0 sr7-2">
                                      <label class="d-flex align-items-center mb-0 ml-1 ml-md-0 sr7-w"
                                      ><input
                                              [(ngModel)]="searchValue"
                                              name="searchValue"
                                              type="search"
                                              class="form-control"
                                              placeholder="Search..."
                                              (keyup)="filterUpdate($event)"
                                              (search)="filterUpdate($event)"
                                      /></label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <section id="card-style-variation3">
                          <ngx-datatable
                                  [rows]="onTheWay"
                                  [rowHeight]="50"
                                  class="bootstrap core-bootstrap"
                                  [limit]="selectedOption"
                                  [columnMode]="ColumnMode.force"
                                  [headerHeight]="50"
                                  [footerHeight]="50"
                                  [scrollbarH]="true"
                          >
                              <ngx-datatable-column name="Customer Name" prop="shipping" [width]="100">
                                  <ng-template let-i="value" ngx-datatable-cell-template>
                                      <span class="font-medium-1 font-weight-bolder">{{ i.first_name }} {{ i.last_name }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Sub-Total" prop="subtotal" [width]="5">
                                  <ng-template let-subtotal="value" ngx-datatable-cell-template>
                                      <span>${{ subtotal }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Total" prop="total" [width]="5">
                                  <ng-template let-total="value" ngx-datatable-cell-template>
                                      <span>${{ total }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Invoice" prop="invoice" [width]="5">
                                  <ng-template let-invoice="value" ngx-datatable-cell-template>
                                      <span>{{ invoice }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Actions" [width]="20" [sortable]="false">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                      <div class="d-flex align-items-center col-actions">
                                          <div ngbDropdown container="body">
                                              <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                  <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                              </button>
                                              <div ngbDropdownMenu>
                                                  <a  routerLink="/apps/invoice/preview-website-order/{{ row.id }}" ngbDropdownItem>
                                                      <i data-feather="eye" class="mr-1"></i>
                                                      Show Details
                                                  </a>
                                                  <a  (click)="open(content, row)" ngbDropdownItem>
                                                      <i data-feather="edit" class="mr-1"></i>
                                                      Change Status
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </ng-template>
                              </ngx-datatable-column>
                          </ngx-datatable>
                      </section>
                  </section>
              </ng-template>
          </li>
          <li [ngbNavItem]="4">
              <a class="
                        text-center
                        colors-container
                        bg-gradient-success
                        rounded text-white
                        width-200 height-50
                        d-flex align-items-center
                        justify-content-center
                        mr-1 ml-50 my-1 shadow
                        " ngbNavLink
              >
                  Delivered Orders list</a>
              <ng-template ngbNavContent>
                  <section class="invoice-list-wrapper card">
                      <div class="row">
                          <div class="col-lg-6 sr7-marg">
                              <div class="d-flex justify-content-between align-items-center m-1">
                                  <div class="d-flex align-items-center">
                                      <label class="d-flex align-items-center"
                                      >Show
                                          <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                              <option value="10">10</option>
                                              <option value="25">25</option>
                                              <option value="50">50</option>
                                              <option value="100">100</option>
                                          </select>
                                      </label>
                                      <!--                              <button class="btn btn-primary ml-2" routerLink="/dashboard/order-addition" rippleEffect>-->
                                      <!--                                  Make Order-->
                                      <!--                              </button>-->
                                  </div>
                              </div>
                          </div>
                          <div
                                  class="
                          col-lg-4
                          d-flex
                          align-items-center
                          offset-lg-2
                          sr7-d
                          sr7-marg
                        "
                          >
                              <div class="d-flex pr-1 pb-1 pb-md-0 align-items-center w-100 sr7-3">
                                  <div class="col-5 pr-0 sr7-2">
                                      <label class="d-flex align-items-center mb-0 ml-1 ml-md-0 sr7-w"
                                      ><input
                                              [(ngModel)]="searchValue"
                                              name="searchValue"
                                              type="search"
                                              class="form-control"
                                              placeholder="Search..."
                                              (keyup)="filterUpdate($event)"
                                              (search)="filterUpdate($event)"
                                      /></label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <section id="card-style-variation4">
                          <ngx-datatable
                                  [rows]="deliveredOrders"
                                  [rowHeight]="50"
                                  class="bootstrap core-bootstrap"
                                  [limit]="selectedOption"
                                  [columnMode]="ColumnMode.force"
                                  [headerHeight]="50"
                                  [footerHeight]="50"
                                  [scrollbarH]="true"
                          >
                              <ngx-datatable-column name="Customer Name" prop="shipping" [width]="100">
                                  <ng-template let-i="value" ngx-datatable-cell-template>
                                      <span class="font-medium-1 font-weight-bolder">{{ i.first_name }} {{ i.last_name }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Sub-Total" prop="subtotal" [width]="5">
                                  <ng-template let-subtotal="value" ngx-datatable-cell-template>
                                      <span>${{ subtotal }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Total" prop="total" [width]="5">
                                  <ng-template let-total="value" ngx-datatable-cell-template>
                                      <span>${{ total }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Invoice" prop="invoice" [width]="5">
                                  <ng-template let-invoice="value" ngx-datatable-cell-template>
                                      <span>{{ invoice }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Actions" [width]="20" [sortable]="false">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                      <div class="d-flex align-items-center col-actions">
                                          <div ngbDropdown container="body">
                                              <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                  <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                              </button>
                                              <div ngbDropdownMenu>
                                                  <a  routerLink="/apps/invoice/preview-website-order/{{ row.id }}" ngbDropdownItem>
                                                      <i data-feather="eye" class="mr-1"></i>
                                                      Show Details
                                                  </a>
                                                  <a  (click)="open(content, row)" ngbDropdownItem>
                                                      <i data-feather="edit" class="mr-1"></i>
                                                      Change Status
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </ng-template>
                              </ngx-datatable-column>
                          </ngx-datatable>
                      </section>
                  </section>
              </ng-template>

          </li>
          <li [ngbNavItem]="5">
              <a class="
                        text-center
                        colors-container
                        bg-gradient-danger
                        rounded text-white
                        width-200 height-50
                        d-flex align-items-center
                        justify-content-center
                        mr-1 ml-50 my-1 shadow
                        " ngbNavLink
              >
                  Canceled Orders list</a>
              <ng-template ngbNavContent>
                  <section class="invoice-list-wrapper card">
                      <div class="row">
                          <div class="col-lg-6 sr7-marg">
                              <div class="d-flex justify-content-between align-items-center m-1">
                                  <div class="d-flex align-items-center">
                                      <label class="d-flex align-items-center"
                                      >Show
                                          <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                              <option value="10">10</option>
                                              <option value="25">25</option>
                                              <option value="50">50</option>
                                              <option value="100">100</option>
                                          </select>
                                      </label>
                                      <!--                              <button class="btn btn-primary ml-2" routerLink="/dashboard/order-addition" rippleEffect>-->
                                      <!--                                  Make Order-->
                                      <!--                              </button>-->
                                  </div>
                              </div>
                          </div>
                          <div
                                  class="
                          col-lg-4
                          d-flex
                          align-items-center
                          offset-lg-2
                          sr7-d
                          sr7-marg
                        "
                          >
                              <div class="d-flex pr-1 pb-1 pb-md-0 align-items-center w-100 sr7-3">
                                  <div class="col-5 pr-0 sr7-2">
                                      <label class="d-flex align-items-center mb-0 ml-1 ml-md-0 sr7-w"
                                      ><input
                                              [(ngModel)]="searchValue"
                                              name="searchValue"
                                              type="search"
                                              class="form-control"
                                              placeholder="Search..."
                                              (keyup)="filterUpdate($event)"
                                              (search)="filterUpdate($event)"
                                      /></label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <section id="card-style-variation5">
                          <ngx-datatable
                                  [rows]="canceledOrders"
                                  [rowHeight]="50"
                                  class="bootstrap core-bootstrap"
                                  [limit]="selectedOption"
                                  [columnMode]="ColumnMode.force"
                                  [headerHeight]="50"
                                  [footerHeight]="50"
                                  [scrollbarH]="true"
                          >
                              <ngx-datatable-column name="Customer Name" prop="shipping" [width]="100">
                                  <ng-template let-i="value" ngx-datatable-cell-template>
                                      <span class="font-medium-1 font-weight-bolder">{{ i.first_name }} {{ i.last_name }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Sub-Total" prop="subtotal" [width]="5">
                                  <ng-template let-subtotal="value" ngx-datatable-cell-template>
                                      <span>${{ subtotal }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Total" prop="total" [width]="5">
                                  <ng-template let-total="value" ngx-datatable-cell-template>
                                      <span>${{ total }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Invoice" prop="invoice" [width]="5">
                                  <ng-template let-invoice="value" ngx-datatable-cell-template>
                                      <span>{{ invoice }}</span>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Actions" [width]="20" [sortable]="false">
                                  <ng-template ngx-datatable-cell-template let-row="row">
                                      <div class="d-flex align-items-center col-actions">
                                          <div ngbDropdown container="body">
                                              <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                                                  <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                                              </button>
                                              <div ngbDropdownMenu>
                                                  <a  routerLink="/apps/invoice/preview-website-order/{{ row.id }}" ngbDropdownItem>
                                                      <i data-feather="eye" class="mr-1"></i>
                                                      Show Details
                                                  </a>
                                                  <a  (click)="open(content, row)" ngbDropdownItem>
                                                      <i data-feather="edit" class="mr-1"></i>
                                                      Change Status
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </ng-template>
                              </ngx-datatable-column>
                          </ngx-datatable>
                      </section>
                  </section>
              </ng-template>
          </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Chang status</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="form-group">
            <p class="card-text col-title  mb-0 " for="cat">
                Status <span class="text-danger">*</span></p>
            <select class=" form-control "
                    (change)="setType($event)">
                <option value="" disabled selected hidden>Please Choose...</option>
                <option *ngFor="let item of selectType"
                        [value]="item.value">
                    {{ item.name}}
                </option>
            </select>
        </div>
        <div class="form-group" *ngIf="popStatus == 'preparing' && popPrep">
            <p class="card-text col-title  mb-0 " for="cat">
                Expected arrival date </p>
            <div class="d-flex">
                <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="my_date"
                        ngbDatepicker
                        #i18nDP="ngbDatepicker"
                        (dateSelect)="setFromDate($event)"
                />
                <div class="input-group-append">
                    <button
                            class="btn btn-outline-secondary feather icon-calendar"
                            (click)="i18nDP.toggle()"
                            type="button"
                            rippleEffect
                    ></button>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary d-flex" (click)="changeOrderStatus()" rippleEffect>
                <i *ngIf="right" data-feather="check" class="mr-25 m-auto"></i>
                <ngx-loading *ngIf="spinner" [show]="true" class="mr-25" [config]="{
                                                    animationType: ngxLoadingAnimationTypes.circle,
                                                    primaryColour: '#5e50ee',
                                                    backdropBorderRadius: '0.5px',
                                                    backgroundColor: '#FFFFFF'}"
                >
                </ngx-loading>
                <span class="align-middle m-auto">Submit</span>
            </button>
        </div>
    </div>
</ng-template>
