<div class="card" style="border-radius: 8px">
  <div class="card-body">
    <div class="row">
      <div class="col-6 d-flex justify-content-start align-items-center">
            <span class="me-3">
              <h6 class="fw-semibold mb-0">All Departments</h6>
            </span>
        <label class="d-flex align-items-center mx-2"
        >
          <ng-select [items]="Filters"
                     [clearable]="false"
                     class="form-control m-0 p-0"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="selectedFilter">
          </ng-select>
        </label>
        <label class="d-flex align-items-center mx-2"
        >
          <ng-select [items]="Groups"
                     [clearable]="false"
                     class="form-control m-0 p-0"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="selectedGroup">
          </ng-select>
        </label>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="mx-2 position-relative w-50 p-1">
          <i style="right: 6px; top: 10px; cursor: pointer" class="fs-3 bx bx-search position-absolute"></i>
          <input type="email" class="form-control p-2" placeholder="Search">
        </div>
        <div class="mx-2">
          <button class="btn btn-primary mb-0" (click)="open(content, 0)">
            Add Department
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-md-12">
    <!--    <app-card cardTitle="Users From United States">-->
    <app-card [hidHeader]="true"
      cardTitle="Recent Orders"
      cardClass="Recent-Orders"
      blockClass="px-0 py-3"
    >
      <div class="mx-4">
        <ngx-datatable
          [rows]="rowsUsers"
          [rowHeight]="70"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
          [selected]="selected"

        >
          <ngx-datatable-column [sortable]="true" name="Id" prop="id" [width]="50">
            <ng-template let-i="value" let-index="rowIndex" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ index+1 }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="true" name="Name" prop="name" [width]="50">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i }}</span>
            </ng-template>
          </ngx-datatable-column>
`
          <ngx-datatable-column [sortable]="true" name="No.Employees" prop="employees" [width]="20">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i.length }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="true" name="No.Positions" prop="positions" [width]="20">
            <ng-template let-i="value" ngx-datatable-cell-template>
              <span class="font-weight-bold">{{ i.length }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="true" name="Status" prop="isActive" [width]="20">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <ui-switch (click)="changeStatus(row.id)" [checked]="value"></ui-switch>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column class="hide-print" name="Action" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0">
                    <i class="feather icon-more-horizontal cursor-pointer"></i>
                  </button>
                  <div ngbDropdownMenu class="p-0">
                    <ul class="p-0 m-0">
                      <li (click)="open(content, 2, row.id)">
                        <button class="dropdown-item">
                          <i class="feather icon-eye"></i>
                          Show
                        </button>
                      </li>
                      <li (click)="open(content, 1, row.id)">
                        <button class="dropdown-item">
                          <i class="feather icon-edit"></i>
                          Edit
                        </button>
                      </li>
                      <li>
                        <button (click)="deleteDepartment(row.id)" class="dropdown-item">
                          <i class="feather icon-trash"></i>
                          Delete
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
            >
              <label class="d-flex align-items-center"
              >Show
                <select class="form-control mx-2" [(ngModel)]="selectedOption">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
              <div class="d-flex align-items-center">
                <ngb-pagination (pageChange)="getDepartments($event)"
                  [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true" />
              </div>
              <div class="d-flex align-items-center">
                <div>
                  Rows: {{ rowCount }} | Size: {{ pageSize }} | Current:{{ page }}
                </div>
              </div>

            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </app-card>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Departments</h4>
    <div class="d-flex">
      <img *ngIf="modalStatus === 2" (click)="deleteDepartment(departmentId)"
           alt="" src="assets/icon/custom-icons/delete.png" class="mx-2 pointer">
      <img *ngIf="modalStatus === 2" (click)="modalStatus = 1"
           alt="" src="assets/icon/custom-icons/edit.png" class="mx-2 pointer">
    </div>
  </div>
  <div class="modal-body">
    <div class="row" [formGroup]="addForm" style="{{modalStatus === 2? 'pointer-events: none' : ''}}">
      <div class="col-12">
        <div class="custom-form-cards">
          <div class="p-3 row">
            <div class="col-6 mb-4" *ngIf="modalStatus === 2">
              <label class="text-start mb-1 fw-bold text-black">ID</label>
              <input type="text" class="form-control" formControlName="Id"
                     [ngClass]="{'is-invalid': (addForm.get('Id')?.dirty && addForm.get('Id')?.invalid && addForm.get('Id')?.touched) ||
                              (addForm.get('Id')?.invalid && addForm.get('Id')?.touched) , 'is-valid': addForm.get('Id')?.valid }">
            </div>

            <div class="col-6 mb-4">
              <label class="text-start mb-1 fw-bold text-black">Title in English</label>
              <input type="text" class="form-control" formControlName="NameEn"
                     [ngClass]="{'is-invalid': (addForm.get('NameEn')?.dirty && addForm.get('NameEn')?.invalid && addForm.get('NameEn')?.touched) ||
                     (addForm.get('NameEn')?.invalid && addForm.get('NameEn')?.touched) , 'is-valid': addForm.get('NameEn')?.valid }">
            </div>
            <div class="col-6 mb-4">
              <label class="text-start mb-1 fw-bold text-black">Title in Arabic</label>
              <input type="text" class="form-control" formControlName="NameAr"
                     [ngClass]="{'is-invalid': (addForm.get('NameAr')?.dirty && addForm.get('NameAr')?.invalid && addForm.get('NameAr')?.touched) ||
                     (addForm.get('NameAr')?.invalid && addForm.get('NameAr')?.touched) , 'is-valid': addForm.get('NameAr')?.valid }">
            </div>
            <div class="col-6 d-flex align-items-center justify-content-between">
              <label class="text-start fw-bold text-black">Status</label>
              <ui-switch formControlName="IsActive"></ui-switch>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="custom-form-cards p-2">
          <div class="p-3 row" formArrayName="Positions">
            <ng-container *ngFor="let position of positionForm.controls; let i = index">
              <ng-container [formGroupName]="i">
                <div class="col-10 mb-4 d-flex align-items-center justify-content-around">
                  <label class="text-start mb-1 fw-bold text-black w-25">Position {{i+1}}</label>
                  <input type="text" class="form-control w-75" formControlName="Name"
                  [ngClass]="{'is-invalid': (position.get('Name')?.dirty && position.get('Name')?.invalid && position.get('Name')?.touched) ||
                  (position.get('Name')?.invalid && position.get('Name')?.touched) , 'is-valid': position.get('Name')?.valid }">
                </div>
                <div class="col-2 mb-4 d-flex align-items-center" style="{{position.get('Id').value? 'pointer-events: all' : ''}}">
                  <img (click)="position.get('Id').value? deletePosition(position.get('Id').value): deleteForm(i)"
                       alt="" src="assets/icon/custom-icons/delete.png"
                       class="mx-2 pointer">
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-primary" *ngIf="modalStatus === 0 || modalStatus === 1" (click)="addInitForm()">
              <i class="bx bx-plus m-0"></i>
              Add Section
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4" *ngIf="modalStatus !== 2">
        <div class="d-flex justify-content-center">
          <button *ngIf="modalStatus === 0 || modalStatus === 1" class="btn btn-outline-primary"
                  (click)="modal.dismiss('Cross click')">Cancel
          </button>
          <button *ngIf="modalStatus === 0" class="btn btn-primary" (click)="submit()">Publish</button>
          <button *ngIf="modalStatus === 1" class="btn btn-primary" (click)="submit()">Save</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
