<!--<app-breadcrumb></app-breadcrumb>-->
<div class="row" [formGroup]="addFrom" (submit)="submit()">
  <div class="col-8">
    <div class="card" style="border-radius: 8px">
      <div class="card-body">
        <h5 class="fw-semibold mb-3">Basic Info</h5>
        <div class="row px-2">
          <div class="col-6 mb-4">
            <label class="text-start mb-1 fw-semibold text-black">Title In English</label>
            <input type="text" class="form-control" formControlName="">
          </div>
          <div class="col-6 mb-4">
            <label class="text-start mb-1 fw-semibold text-black">Title in Arabic</label>
            <input type="text" class="form-control" formControlName="">
          </div>
          <div class="col-6 mb-4">
            <label class="text-start mb-1 fw-semibold text-black">Display Page</label>
            <ng-select [items]="Filters"
                       [clearable]="false"
                       bindLabel="name"
                       bindValue="id"
                       [(ngModel)]="selectedFilter" formControlName="">
            </ng-select>
          </div>

          <div class="col-6 mb-4">
            <label class="text-start mb-1 fw-semibold text-black">End Date</label>
            <input type="date" class="form-control" formControlName="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="border-radius: 8px">
      <div class="card-body">
        <h5 class="fw-semibold mb-3">Visibility</h5>
        <div class="row px-2">
          <div class="col-12 mb-3">
            <fieldset class="form-group">
              <div class="row">
                <div class="col-sm-9">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios1"
                      value="option1"
                      checked
                      formControlName="Status"
                    />
                    <label class="form-check-label" for="gridRadios1"
                    >Published</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios2"
                      value="option2"
                      formControlName="Status"
                    />
                    <label class="form-check-label" for="gridRadios2"
                    >Scheduled</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios3"
                      value="option3"
                      formControlName="Status"
                    />
                    <label class="form-check-label" for="gridRadios3"
                    >Hidden</label
                    >
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-12 mb-3">
            <label class="text-start mb-1 fw-semibold text-black">Publish Date</label>
            <input type="date" class="form-control" formControlName="DatePublished">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card" style="border-radius: 8px" >
      <div class="card-body position-relative">
        <button (click)="fileInput.click()"
                style="top: 54%; right: 3%; transform: translate(0, -50%)"
                class="btn btn-outline-primary position-absolute m-0">
          <i class="bx bx-plus m-0 fs-5"></i>
        </button>
        <h5 class="fw-semibold mb-3">Add Image</h5>
        <div class="d-flex py-2 pe-5"
        style="overflow: auto; white-space: nowrap;">
          <div class="px-2">
            <img width="265" height="265" src="/assets/images/img.png">
          </div>
          <div class="px-2">
            <img width="265" height="265" src="/assets/images/img.png">
          </div>
          <div class="px-2">
            <img width="265" height="265" src="/assets/images/img.png">
          </div>
          <div class="px-2">
            <img width="265" height="265" src="/assets/images/img.png">
          </div>
          <div class="px-2">
            <img width="265" height="265" src="/assets/images/img.png">
          </div>
          <input
            style="display: none"
            type="file" (change)="onFileChanged($event)"
            #fileInput>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary">Publish</button>
      <button class="btn btn-outline-primary">Cancel</button>
    </div>
  </div>
</div>
