@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
.img-logo{
  display: flex;
  height: 200px;
  margin-bottom: 20px;
}
.sr7-prof{
  //display: flex;
}
.sr7-img{
  height: 190px !important;
  border: 0.1px solid #cf25cf;
  width: 150px;
  margin-bottom: 10px;
}
.sr7-hide{
  opacity: 0;
}
.sr7-rel{
  position: relative;
}
.sr7-abs1{
  position: absolute;
  top: 10px;
  left: 10px;
}
.sr7-abs2{
  position: absolute;
  top: 164px;
  left: 125px;
  z-index: 1;
  color: #cf25cf;
}
